@use '../../styles/breakpoints' as *;

.slideshow {
  position: relative;
  width: 100%;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;

  @include mobile {
    height: 255px;
    border-radius: 10px;
    margin-top: 16px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 20px;
    z-index: 1;

    @include mobile {
      padding: 10px;

      svg {
        width: 12px;
        height: 20px;
      }
    }

    &--left {
      left: 20px;

      @include mobile {
        left: 0;
      }
    }

    &--right {
      right: 20px;

      @include mobile {
        right: 0;
      }
    }
  }

  &__counter {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    font-weight: 500;
    z-index: 1;

    @include mobile {
      display: none;
    }
  }
}
