@use '../../styles/variables' as *;
@use '../../styles/breakpoints' as *;

.rating {
  display: flex;
  gap: 5px;

  &__star {
    fill: #e3e3e3;

    @include mobile {
      width: 18px;
      height: 18px;
    }

    &--filled {
      fill: $primary-color;
    }
  }
}
